#
# Java Spring Boot Kubernetes Settings
#
# config-consumer-service settings
#

#sdk use java 11.0.26-librca

export MK_IMAGE_PUSH_TARGET="spring-cloud-kubernetes-consumer-service:3.3.2-SNAPSHOT"
export MK_IMAGE_PUSH_TARGET_PREFIX="springcloud"
#export MK_IMAGE_PUSH_SKIP_MINIKUBE="true"
export MK_IMAGE_PUSH_SKIP_DOCKER_HUB="true"

