#
# Java Spring Boot Kubernetes Settings
#
# spring-cloud-kubernetes-consumer-service-settings
#

export MK_IMAGE_PUSH_TARGET="spring-cloud-kubernetes-consumer-service:3.3.2-SNAPSHOT"
export MK_IMAGE_PUSH_TARGET_PREFIX="springcloud"

eme MK_IMAGE